@import url("../assets/css/font-awesome.min.css");

.icon {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.gohome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
